body{
    background-color: cornsilk;
}
h1{
    color: hotpink;
}
#demoFont {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    letter-spacing: -0.2px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: lowercase;
    }
#demoFont1 {
    font-size: 30px;
    letter-spacing: -0.2px;
    word-spacing: 0px;
    color: hotpink;
    font-weight: 400;
    text-decoration: none;
    font-style: bold;
    font-variant: normal;
    text-transform: lowercase;
    }